* {
    box-sizing: border-box;
  }
  
  body {
    background-color:#adb9ed;
    padding: 20px;
    font-family: Arial;
  }
  
 

  .main {
    max-width: 1000px;
    margin: auto;
    text-transform:uppercase;
    text-shadow: 4px 4px 5px black;
    color:#535c87;
    text-align: center;
    
  }
  
  h1 {
    font-size: 50px;
    word-break: break-all;
    
  }
  
  h2{
    text-align: center;
    text-shadow: 2px 2px 2px black;
  }

  H3{
    text-align: center;
    text-shadow: 1PX 1PX 2px  black;
    color: white;

  }

  h4{
    text-align: center;
    text-shadow: 1PX 1PX 1px  black;
    color:#535c87;
  }

  .logo{
    width:95px;
    height: 100px;
    margin: 30px;
    margin-bottom: 50px;
    box-shadow: 4px 3px 6px rgb(61, 53, 41);
    border-radius: 15px;
  }


  .row {
    margin: 8px -16px;
  }
  

  button{
  background-color:#adb9ed; 
  border: none;
  color:#535c87;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 15px;
  box-shadow: 2px 2px 3px;
  text-shadow: 1PX 1PX 1px  black;

  }

  button:hover {
    background-color:goldenrod;
  }
  
  .row,
  .row > .column {
    padding: 8px;
    margin: -5px;
  }
  
  
  .column {
    float: left;
    width: 33.33%;
    display: none; 
  }

  .photo{
    width: 100%;
    height: 250px;
    box-shadow: 4px 3px 6px rgb(61, 53, 41);
    border-radius: 15px;
  }
  
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  
  .content {
    padding: 8px;
    margin: 20px;
  }
  
  
  .show {
    display: block;
  }
  

  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #adb9ed;
    cursor: pointer;
    text-shadow: 1PX 1PX 1px  black;
    
  }
  
 
  .btn:hover {
    background-color: goldenrod;
  }
  
  
  .btn.active {
     color: white;
  }

  footer{
    position: relative;
    margin-top: -1px;
    background-color: #343d68;
    padding:4rem;
    width: 100%;
    height: 20%;
  
  }
  .footer-wrapper{
    display: flex;
    gap:1rem;
    padding:1.2rem;
    justify-content:space-between;
    align-items: center;
  }
  .footer-faded-text{
    position: absolute;
    bottom:30px;
    color:#535c87;
    font-size: 3rem;
    text-align: center;
    margin-left:auto;
    text-shadow: 1PX 1PX 2px  black;
  }
 
  @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }